[build]
  functions = "netlify/functions"
  publish = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  conditions = {Role = ["admin"]}

[[redirects]]
  from = "/dashboard.html"
  to = "/dashboard.html"
  status = 200

[[redirects]]
  from = "/"
  to = "/index.html"
  status = 200
